
/* Canvas */
* {
    margin: 0;
    padding:            0;
    font-family:        'Red Hat Display', sans-serif;
    box-sizing:         border-box;
}
body{
    background-color: #ececec;
}


/* Header */
#header {
    background-color:  #1a88d1;
    color:             #ececec;
    padding-block:      2rem;
    padding-right:      10%;
    padding-left:       5%;
    width:              100%;
    position:           relative;
}

nav {
    display:            flex;
    align-items:        center;
}
nav h1 {
    font-size:          33px;
}
nav ul {
    flex:               1;
    text-align:         right;
}
nav ul li {
    display:            inline-block;
    list-style:         none;
    margin:             0 20px;
}
nav ul li a {
    text-decoration:    none;
    color:             #ececec;
    font-size:          28px;
}


/* Main */
#main {
    display:            flex;
    flex-direction:     column;
    position:           relative;
}


/* Biografía */
#miFoto {
    margin:             1%;
    text-align:         center;
}
#miFoto img {
    border-radius:      50%;
    width:              10%;
}

#saludo {
    text-align:         center;
}
#saludo h1 {
    margin:             0.5%;
    color:             #1a88d1;
}

#presentacion {
   /* text-align:       center;*/
    padding-inline:     35%;
    text-justify:       distribute;
}
#presentacion p {
    font-size:          15px;
}



